*{
  font-family: Arial;}
h1{
  font-family: "Courier New", monospace;
  color: blue;}
body{
  text-align: justify;}

img.align-center{  
  display: block;  
  margin: 0px auto;} 

img.medium{
  width: 800px;  height: 600px;} 

table, th, td{
  border: 1px solid black;}
